:root {
  /* ===== Neutral ===== */
  --neutral-900: #091540;
  --neutral-800: #202535;
  --neutral-700: #2f364b;
  --neutral-600: #535868;
  --neutral-300: #c6c6c6;
  --neutral-200: #d6e2f5;
  --neutral-100: #eeeeee;
  --neutral-0: #fbfdfe;

  /* ===== Red ===== */
  --red-400: #f25c54;
  --red-500: #de4840;
  --red-700: #c7231a;

  /* ===== Gradients ===== */
  --gradient-light: linear-gradient(180deg, #ebf2fc 0%, #eefbf9 100%);
  --gradient-dark: linear-gradient(180deg, #04091b 0%, #091540 100%);

  /* Text Preset 1 */
  --text-preset-1: bold 34px/100% "Noto Sans", sans-serif;
  --text-preset-1-letter-spacing: -1px;

  /* Text Preset 2 */
  --text-preset-2: bold 20px/120% "Noto Sans", sans-serif;
  --text-preset-2-letter-spacing: -0.2px;

  /* Text Preset 3 */
  --text-preset-3: 400 20px/140% "Noto Sans", sans-serif;
  --text-preset-3-letter-spacing: -0.3px;

  /* Text Preset 4 */
  --text-preset-4: 500 20px/140% "Noto Sans", sans-serif;
  --text-preset-4-letter-spacing: -0.3px;

  /* Text Preset 5 */
  --text-preset-5: 400 16px/140% "Noto Sans", sans-serif;
  --text-preset-5-letter-spacing: -0.5px;

  /* Text Preset 6 */
  --text-preset-6: 500 16px/140% "Noto Sans", sans-serif;
  --text-preset-6-letter-spacing: -0.5px;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  margin: 0;
  height: 100%;
  background: var(--gradient-light);
}

body {
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  min-height: 100vh;
  width: 100%;
  margin: auto;
}
.top-nav {
  margin-bottom: 8px;
  width: 100%;
  display: flex;
  height: 66px;
  padding: 12px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: white;
  border-radius: 12px;
  border: 1px solid var(--neutral-200);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}

.theme-toggle {
  background-color: var(--neutral-100);
  border: none;
  padding: 12px 16px;
  border-radius: 16px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.secondary-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.section-title {
  font: var(--text-preset-1);
  letter-spacing: var(--text-preset-1-letter-spacing);
  color: var(--neutral-900);
}
.container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
  gap: 12px;
}
.filter-list {
  list-style: none;
  display: flex;
  gap: 16px;
}
.filter-list li {
  padding: 0;
  border: none;
}
.filter-list button {
  background-color: white;
  border: 1px solid var(--neutral-200);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  padding: 8px 16px;
  border-radius: 16px;
  height: 46px;
  cursor: pointer;
  color: var(--neutral-900);
  font: var(--text-preset-4);
  letter-spacing: var(--text-preset-4-letter-spacing);
}
.filter-list button.active {
  background-color: var(--red-500);
  color: white;
  border: none;
}

.card {
  width: 100%;
  height: 200px;
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  border: 1px solid var(--neutral-200);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.top-card {
  display: flex;
  gap: 16px;
}

.top-card img {
  width: 60px;
  height: 60px;
}
.card-title {
  font: var(--text-preset-2);
  letter-spacing: var(--text-preset-2-letter-spacing);
  color: var(--neutral-900);
  margin-bottom: 8px;
}
.text p {
  font: var(--text-preset-5);
  letter-spacing: var(--text-preset-5-letter-spacing);
  color: var(--neutral-600);
  /* padding-right: 10px; */
}
.bottom-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  padding: 8px 16px;
  font: var(--text-preset-6);
  letter-spacing: var(--text-preset-6-letter-spacing);
  color: var(--neutral-900);
  border: 1px solid var(--neutral-300);
  background-color: white;
  border-radius: 24px;
  cursor: pointer;
}
.toggle-group {
  display: inline-block;
}

.toggle-group input[type="checkbox"] {
  display: none;
}

.toggle-label {
  width: 36px;
  height: 20px;
  background: #d1d5db;
  border-radius: 999px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: background 0.3s ease;
}

.toggle-label::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 2px;
  background: #ffffff;
  border-radius: 50%;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
input[type="checkbox"]:checked + .toggle-label {
  background: #c81e1e;
}

input[type="checkbox"]:checked + .toggle-label::after {
  transform: translateX(15.5px);
}
@media (min-width: 768px) {
  #root {
    padding: 24px 32px;
  }
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .top-nav {
    height: 74px;
  }
}

@media (min-width: 1200px) {
  #root {
    padding: 40px;
  }
  .main {
    width: 1170px;
  }
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
